.root {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  align-items: center;
  padding: 24px 0;
  width: 30%;
}

.root span {
  flex: 1;
  margin: 0 16px;
}

.root img {
  width: 42px;
  height: 42px;
}